li {
  list-style: none;
}

#list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#list .main_image1,
#list .main_image2 {
  display: flex;
  margin-bottom: 20px;
}

#list .main_image1 li,
#list .main_image2 li {
  margin-right: 15px;
}

#list .main_image1 li a,
#list .main_image2 li a {
  display: block;
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

#list .main_image1 img,
#list .main_image2 img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#list .main_image1 li:hover a,
#list .main_image2 li:hover a {
}

#list .main_image1 li:hover img,
#list .main_image2 li:hover img {
  transform: scale(1.1);
}

#list {
  position: relative;
  overflow: hidden;
}

.main_image {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.main_image li {
  margin-right: 15px;
}

.today {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.haru-delivery {
  margin-left: 43%;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid #c7c7c7;
}
.haru-delivery:hover {
  background-color: #d9d9d9;
  transition: all 0.6s;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner li {
  margin: 20px;
}
.banner img {
  width: 100%;
  height: 300px;
}
.banner img:hover {
  border: 1px solid #c7c7c7;
  overflow: hidden;
}
