.product-box {
  display: flex;
  width: 1000px;
  height: 800px;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 40px;
}

.left-section {
  width: 50%;
  padding: 20px;
}

.main-image {
}

.detail-images {
}

.right-section {
  width: 50%;
  padding: 20px;
}

.company {
  font-size: 15px;
  padding: 5px;
}

.product {
  font-size: 40px;
  padding: 5px;
}

.price {
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.pay-one {
  padding: 10px;
}

.pay-two {
  padding: 10px;
  width: 120px;
  height: 20px;
  background-color: skyblue;
  border: 1px solid skyblue;
  color: blue;
  font-weight: bold;
  font-size: 15px;
}

.pay-three {
  padding: 10px;
}
