.product-box {
  display: flex;
  width: 1000px;
  height: 750px;
  border: 1px solid gray;
  margin: 0 auto;
  margin-top: 50px;
}

.left-section {
  width: 50%;
  padding: 10px;
}

.main-image {
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  margin: 40px;
}

.right-section {
  width: 50%;
  padding: 20px;
}

.company {
  padding: 20px 7px 7px 7px;
}

.product {
  padding: 7px;
  font-size: 30px;
}

.price {
  padding: 7px;
  font-size: 25px;
  font-weight: bold;
}

.pay-post1 {
  padding: 15px 7px 15px 7px;
  font-weight: bold;
  font-size: 15px;
}

.pay-post2 {
  padding: 7px;
  color: blue;
  font-weight: bold;
  background-color: skyblue;
  width: 135px;
}

.pay-post3 {
  padding: 15px 7px 7px 7px;
}

.delivery {
  margin-top: 20px;
}

.colorSelect {
  margin-top: 30px;
  width: 300px;
  height: 40px;
}

.sizeSelect {
  margin-top: 10px;
  width: 300px;
  height: 40px;
}
