.Order_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 30px;
  font-weight: normal;
}

.Order_info {
  display: flex;
  flex-direction: column; /* 세로 방향으로 아이템을 배치합니다. */
  padding: 10px; /* 내부 여백 추가 */
  margin: 15px;
}

.Order_info > div {
  margin-bottom: 10px; /* 각각의 하위 div 요소 사이에 간격을 줍니다. */
}

.Order_info img {
  max-width: 100px; /* 이미지의 최대 너비 설정 */
  height: auto; /* 이미지의 높이 자동 조정 */
}

.Order_h1 {
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.Order_date {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  font-size: 22px;
  font-weight: bolder;
  color: rgb(30, 136, 229);
  border-bottom: thin solid rgb(225, 225, 225);
}

.Order_mid {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: thin solid rgb(225, 225, 225);
}

.Order_mid__left {
  font-size: 21px;
  font-weight: 700;
}

.Order_mid__right {
  font-size: 15px;
  font-weight: 400;
}

.Order_product {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.Order_product__img {
  margin: 10px;
}

.Order_product__name {
  width: 300px;
  overflow-wrap: break-word;
  justify-content: left;
  padding-top: 15px;
}

.Order_product__price {
  padding-left: 270px;
  padding-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.Order_totalPrice {
  display: flex;
  justify-content: right;
  padding: 15px;
  font-size: 30px;
  font-weight: 600;
  margin-right: 5px;
}

.Order_totalPrice__text {
  margin-right: 10px;
}

.Order_totalPrice__price {
  color: red;
}

.Orderer_info {
  display: flex;
  flex-direction: column; /* 세로 방향으로 아이템을 배치합니다. */
  padding: 10px; /* 내부 여백 추가 */
  margin: 15px;
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

label {
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

.Orderer_name {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-bottom: thin solid rgb(225, 225, 225);
}

.Orderer_nameput {
  width: 600px;
  height: 20px;
  padding: 15px;
  margin-top: -5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none; /* 테두리 없음 */
  outline: none; /* 포커스 시 외곽선 제거 */
  background-color: rgb(245, 245, 245); /* 배경 투명 */
  color: #333; /* 텍스트 색상 */
}

.Orderer_phone {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-bottom: thin solid rgb(225, 225, 225);
}

.Orderer_phonenumber {
  width: 600px;
  height: 20px;
  padding: 15px;
  margin-top: -5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none; /* 테두리 없음 */
  outline: none; /* 포커스 시 외곽선 제거 */
  background-color: rgb(245, 245, 245); /* 배경 투명 */
  color: #333; /* 텍스트 색상 */
}

.Orderer_email {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border-bottom: 1px solid black;
}

.Orderer_address {
  width: 600px;
  height: 20px;
  padding: 15px;
  margin-top: -5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none; /* 테두리 없음 */
  outline: none; /* 포커스 시 외곽선 제거 */
  background-color: rgb(245, 245, 245); /* 배경 투명 */
  color: #333; /* 텍스트 색상 */
}
